appdirs==1.4.4
asgiref==3.2.7
distlib==0.3.0
Django==3.0.6
filelock==3.0.12
html5lib==1.0.1
Pillow==7.1.2
pycryptodome==3.9.7
PyPDF2==1.26.0
PyQRCode==1.2.1
pytz==2020.1
reportlab==3.5.42
six==1.14.0
sqlparse==0.3.1
virtualenv==20.0.20
webencodings==0.5.1
xhtml2pdf==0.2.4
